@mixin bdic(){
  background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
  -webkit-background-clip:text;
  color: transparent;
}
@mixin tken(){
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.7em;
  background: linear-gradient(#00F260,#0575E6);
  -webkit-background-clip:text;
  color: transparent;
}
@mixin fsty(){
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
  background: linear-gradient(#FF512F,#DD2476);
  -webkit-background-clip:text;
  color: transparent;
}
@mixin idbt(){
  border: 2px solid #568701;
  padding: 10px 20px;
  font-weight: bolder;
  font-family: 'Tinos', serif;
}
@mixin idbtHover(){
  background-color: #568701;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  font-family: 'Tinos', serif;
}
@mixin header(){
  width: 100%;
  height: 625px;
  background: url("../images/banner.jpg")
  no-repeat center center fixed;
  background-size: cover;
}
@mixin bng1(){
  font-size: 2.3em;
  font-family: 'Catamaran', sans-serif;
}
@mixin bng2(){
  font-size: 3em;
  font-family: 'Tinos', serif;
  color: gg(gg3);
}
@mixin bng2-md(){
  font-size: 2.5em;
  font-family: 'Tinos', serif;
  color: gg(gg3);
}
@mixin bng1-md(){
  font-size: 1.8em;
  font-family: 'Catamaran', sans-serif;
}
@mixin idbt2(){
  border: 2px solid #fff;
  color: #fff;
  background-color: #c22026;
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
}
@mixin idbt2Hover(){
  border: 2px solid #c22026;
  color: #c22026;
  background-color:#fff;
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
}
@mixin idbt3(){
  border: 2px solid #fff;
  color: #fff;
  background-color: black;
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
}
@mixin idbt3Hover(){
  border: 2px solid black;
  color: black;
  background-color:#fff;
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
}
@mixin section-h3(){
  font-weight: bolder;
  font-size: 2.3em;
  font-family: 'Catamaran', sans-serif;
}
@mixin section-card-fa(){
  font-size: 5em;
  color: #568701;
}
@mixin section-card-title(){
  font-size: 1.5em;
  font-family: 'Noto Sans KR', sans-serif;
}
